#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: #eaeaea;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%);
}

.app-header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
  color: #fff;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * .75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}

/* .title-details {
  font-size: 2rem !important;
} */

.profiles {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
}

.profile {
  /* display: grid;
  grid-template-columns: 1fr 3fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgb(51 51 51 / 23%);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
  margin: 0.6rem 0rem;
}

.profile-detail {
  /* display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgb(51 51 51 / 23%);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
  margin: 0.6rem 0rem;
}

.profile:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 47px 11px rgb(51 51 51 / 18%);
}

.profile-pic {
  max-width: 100%;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.profile-name {
  color: #979cb0;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.64px;
  margin-left: 12px;
}

.profile-details {
  color: #979cb0;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.64px;
  margin-left: 12px;
}

.profile-username {
  color: #35d8ac;
  font-weight: 700;
  font-size: 0.7rem;
  text-align: right;
}

.profile-username-detail {
  color: #35d8ac;
  font-weight: 700;
  font-size: 0.7rem;
}

.inner-details {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 50px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}

.profile-table {
  background-color: transparent;
  width: 100%;
  vertical-align: top;
  border-color: #dee2e6;
}

.profile-table th {
  color: #35d8ac;
}

.xIcon {
  color: #ff0000;
  font-size: 1rem;
}

.checkIcon {
  color: #008000;
  font-size: 1rem;
}